/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}



.animate-scroll {
  animation: scroll 30s linear infinite;
} */

.gradient-background {
    background-image: linear-gradient(to right, #4b6cb7, #182848);
  }
  